<<<<<<< HEAD
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}

.gradient-custom-3 {
=======
.fundo {
>>>>>>> 6c1b31c322103066f2e383db85c184431be03564
    /* fallback for old browsers */
    background: #fff;
  }

  .button {
    padding: 0.7em 5em;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2.0px;
    font-weight: 500;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

   }
   
   .button:hover {
    box-shadow: black;
    color: white;
    transform: scale(1.1);
   }
   
   .button:active {
    transform: translateY(-1px);
   }