.wrapper {
  background-color: #ffffff;
}
.wrapper-parallax {
  margin-bottom: 600px;
  position: relative;
  z-index: 50;
}
.top-bar {
  height: 50px;
  background-color: #222222;
  overflow: hidden;
}
.top-bar .top--contact li {
  margin-right: 21px;
}
.top-bar .top--contact li:last-child {
  margin-right: 0;
}
.top-bar .top--contact {
  font-family: 'Exo 2', sans-serif;
  line-height: 50px;
  color: #cecece;
  font-size: 12px;
  font-weight: 400;
}
.top-bar .top--contact i {
  margin-right: 6px;
}
.top-bar .top--social {
  color: #cecece;
  font-family: 'Exo 2', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 50px;
}
.top-bar .top--social a {
  color: #cecece;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin-left: 19px;
}
.top-bar .top--social a:hover {
  color: #3773f4;
}
.top-bar .contact-info {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 50px;
  margin-right: 30px;
  display: inline-block;
}
.top-bar .contact-info i {
  color: #3773f4;
  margin-right: 9px;
  font-size: 16px;
}
.top-bar .contact-social {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 0;
  display: inline-block;
}
.top-bar .contact-social a {
  color: #3773f4;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  margin-left: 20px;
}
.top-bar .contact-social a:hover {
  color: #ffffff;
}